@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Steven Ellis, and I am a fourth-year Finance & MIS student at Ohio University. I have also worked on campus since 2016 at Shively Court dining hall, where I have recently accepted the Student Food Pro Intern position, which is the highest-level position a student can obtain within Culinary Services. Through my time at the dining hall, I have learned many new things, and I have gathered many new skills that will translate well in the real world. I have learned how to manage expectations, manage people, and manage my time. The best skills I have acquired have been the ability to comfortably talk to people and making new connections.</p>
