@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    39 Grosvenor St<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    412.370.1532
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:se895515@ohio.edu">se895515@ohio.edu</a>
</address>