@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200 Demo - Steven Ellis</h1>
    <p class="lead">This is a demo site for MIS4200</p>
    @*@<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting to know Steven:</h2>
        <p>
            Hello, here are five facts about me!<br/><br/>   
            1.) I was born in Pittsburgh, PA.<br/>
            2.) I played soccer from 3 years old until I was 18 years old.<br/>
            3.) I now enjoy playing video games, going to the gym, and hanging with my friends.<br/>
            4.) I have a dog named Melo.<br/>
            5.) I am graduating in May 2020.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sports I have played:</h2>
        <p>
            1.) Soccer<br />
            2.) Basketball<br />
            3.) Baseball<br />
            4.) Track & Field<br />
            5.) Football
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Foods I love to eat:</h2>
        <p>
            1.) Chicken<br />
            2.) Pasta<br />
            3.) Rice<br />
            4.) Pizza<br />
            5.) Salad
        </p>
        
    </div>
</div>